// =============================================================================
// HOME PAGE STYLES
// =============================================================================


// General
// -----------------------------------------------------------------------------
.home-template .content {
  padding-top: $header-height + $distance;
}

.tag-about-us{
  background-color: $white;
  margin: $distance * 5 auto $distance * 8;
  padding: $distance * 3 $distance * 4;
  position: relative;

  &::before {
    background: $secondary;
    bottom: -$distance / 2;
    content: '';
    display: block;
    height: 10%;
    position: absolute;
    right: -$distance / 2;
    width: 50%;
    z-index: -1;
  }

  .post-header,
  .post-content {
    margin: 0;
    max-width: $post-box;
  }
}

.tag-services.hi-box {
  @include inline-block;
  margin-left: 0;
  width: calc(50% - #{$distance});

  .view-products {
    color: $white;
    float: right;
    font-size: $fsmall;
    margin: $distance * 2 0 0;

    &:hover {
      text-shadow: .066em .066em $secondary;
    }
  }
}

.tag-our-brands {
  @include inline-block;
  margin-left: $distance;
  margin-bottom: calc(15vh + #{$footer-height / 3});
  position: relative;
  text-align: center;
  top: 15vh;
  vertical-align: bottom;
  width: calc(50% - #{$distance});

  .post-content {
    margin-bottom: 0;

    figure {
      $size: (($site-box / 2) / 3) - $distance * 5;

      @include inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: $size;
      margin-left: $distance * 2;
      margin-right: $distance * 1.5;
      width: $size;

      img {
        height: 0;
        width: 0;
      }
    }
  }
}
// -----------------------------------------------------------------------------
