// =============================================================================
// PAGE MAIN SECTION HEADER
// =============================================================================


// Define sizes
// -----------------------------------------------------------------------------
.hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $site-height;
  max-height: $site-height;
  min-height: $hero-min-height;
  position: relative;

  @include mq(mobile) {
    max-height: 66vh;
  }

  &.no-cover {background-color: $white;}

  &.hero-section:not(.no-cover) {
    animation: item-in .666s ease-out forwards; // Slide In animation
  }
}
// -----------------------------------------------------------------------------


// Main Header
// -----------------------------------------------------------------------------
.main-header-content {
  @include vertical-center;
  text-align: center;
  width: 100%;

  > * {
    animation: item-in .666s ease-out forwards; // Slide In animation
  }

  > .page-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: $hero-logo;
    margin-bottom: $distance * 4;
    width: $hero-logo;
  }

  > .page-description {
    font-weight: $regular;
  }
}
// -----------------------------------------------------------------------------
