// =============================================================================
// SITE MENU STYLES
// =============================================================================


// General styles
// -----------------------------------------------------------------------------
// Nav block
// -----------------------------------------------------------------------------
body > nav {
  background-color: $white;
  border-bottom: 1px solid $stone;
  color: $black;
  height: $menu-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: $menu-width;
  z-index: $z-top + 1;


// Main content
// -----------------------------------------------------------------------------
  .logo > a {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    display: block;
    height: $menu-height - $distance * 2.4;
    position: absolute;
    top: $distance * 1.2;
    left: $distance;
    width: $logo;
  }

  .no-logo > a {
    font-size: $fh3;
    left: $distance;
    line-height: $menu-height;
    position: absolute;
  }

  > ul {
    position: absolute;
    right: $distance;
    text-align: right;
    top: $menu-height / 4;

    @include mq(hybrid) {
      background-color: rgba($white, .95);
      bottom: 0;
      height: 100vh;
      left: 0;
      opacity: 0;
      padding-top: $menu-height + $distance * 3;
      pointer-events: none;
      right: 0;
      text-align: center;
      top: 0;
      transition: all 250ms ease-out;
      width: 100vw;

      &.opened {
        opacity: 1;
        pointer-events: all;
      }
    }
  }


// Type & texts ----------------------------------------------------------------
  li {
    border: 1px solid transparent;
    color: $stone;
    display: inline-block;
    font-size: $fdef;
    font-weight: $bold;
    line-height: $menu-height / 2;
    list-style: none;

    @include mq(hybrid) {
      border: 0;
      display: block;
      font-size: 10vw;
      line-height: 12vw;
    }

    &:hover,
    &.nav-current {
      border-color: $black;
      color: $black;

      @include mq(hybrid) {
        border: 0;
      }
    }

    + li {
      margin-left: $distance;

      @include mq(hybrid) {
        margin-left: 0;
      }
    }

    > a {
      display: block;
      font-weight: $regular;
      padding-left: $distance;
      padding-right: $distance;
    }
  }
}
// -----------------------------------------------------------------------------
